# ==========================
# Operating System Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Visual Studio Code
# ==========================

.vscode/

# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================

venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================

.env
.env.*

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Temporary Files
# ==========================

*.tmp
*.swp
*.bak

# ==========================
# Secrets
# ==========================

*.pem
*.key
*.crt
*.p12
*.ovpn
id_rsa
id_ed25519

# ==========================
# Archives
# ==========================

*.zip
*.tar
*.gz
*.7z
